# CAD pesado - no subir al repo
02_CAD/export_autocad.dxf

# QGIS temporales
01_QGIS/*.qgd
01_QGIS/~*

# Permisos originales
04_PERMITS/*.xlsx

# Assets fuente sin normalizar
05_WEB/Elecnor Deutsch_TP.png

# Sistema
Thumbs.db
.DS_Store
desktop.ini
